{% comment %}Skeleton grid de empresas (home). skeleton_count default 8.{% endcomment %}
<div class="tf-skeleton-grid pn-companies-grid" aria-hidden="true">
  {% with n=skeleton_count|default:8 %}
  {% for unused in "xxxxxxxx" %}
    {% if forloop.counter <= n %}
    <div class="tf-skeleton-company" aria-hidden="true">
      <div class="tf-skeleton tf-skeleton-circle"></div>
      <div class="tf-skeleton tf-skeleton-text tf-skeleton-text--md" style="width:70%;"></div>
      <div class="tf-skeleton tf-skeleton-text tf-skeleton-text--sm" style="width:50%;"></div>
      <div class="tf-skeleton tf-skeleton-text" style="width:55%;height:12px;"></div>
    </div>
    {% endif %}
  {% endfor %}
  {% endwith %}
</div>
