{% load i18n %}
<button
  type="button"
  class="auth-password-toggle js-password-toggle"
  aria-label="{% if show_label %}{{ show_label }}{% else %}{% trans "Show password" %}{% endif %}"
  aria-pressed="false"
  data-target="{{ target_id }}"
  data-label-show="{% if show_label %}{{ show_label }}{% else %}{% trans "Show password" %}{% endif %}"
  data-label-hide="{% if hide_label %}{{ hide_label }}{% else %}{% trans "Hide password" %}{% endif %}"
>
  <span class="material-symbols-rounded js-pw-icon" aria-hidden="true">visibility</span>
</button>
