{% load tf_money %}
{% comment %}Mini product card for supplier carousels. Variables: product{% endcomment %}
<a href="{% url 'catalogo_producto_detail' product.pk %}" class="hm-sp-card">
  <div class="hm-sp-card__media">
    {% if product.is_on_promo_now %}
    <span class="hm-sp-card__badge">-{{ product.discount_pct }}%</span>
    {% endif %}
    {% include "core/includes/product_image_placeholder.html" with product=product css_class="hm-sp-card__placeholder" alt="" %}
  </div>
  <p class="hm-sp-card__name">{{ product.name|truncatechars:48 }}</p>
  <p class="hm-sp-card__company">
    <span class="material-symbols-rounded" aria-hidden="true">verified</span>
    {{ product.company.name|truncatechars:22 }}
  </p>
  <p class="hm-sp-card__price">{{ product.display_price|money_usd }}</p>
</a>
